<%- include("partials/header.ejs") %>

<h1>Área do Cidadão</h1>
  <form action="/check" method="post">
    <label for="username">Nome de Usuário:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Entrar</button>
    <a href="cadastro-de-usuario.ejs">Cadastrar Novo Usuário</a>
  </form>

<%- include("partials/footer.ejs") %>