<%- include("partials/header.ejs") %>

<main>
    <div class="content-container">
        <section class="contact">
            <h2>Contato</h2>
            <p>Para mais informações, entre em contato conosco:</p>
            <p>Email: <a href="mailto:contato@saude.gov.br">contato@saude.gov.br</a></p>
            <p>Telefone: (31) 9999-9999</p>
            <p>Endereço: Rua da Saúde, 123, Centro, Belo Horizonte - Minas Gerais</p>
        </section>
    </div>
</main>

<%- include("partials/footer.ejs") %>