<%- include("partials/header.ejs") %>
<style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }
    .text-container {
        padding-left: 20;
    }
  </style>
<div class="text-container">
    <h1>TESTE</h1> <!-- EJS syntax to include dynamic content -->
    <!-- Your webpage content here -->
</div>
INDEX BODY

<%- include("partials/footer.ejs") %>