<%- include("partials/header.ejs") %>

<main>
    <div class="login-container">
        <h2>Consulta Fácil</h2>
        <form action="/check" method="post" class="login-form">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>
        <a href="cadastro-de-usuario" class="register-link">Cadastrar Novo Usuário</a>
    </div>
</main>

<%- include("partials/footer.ejs") %>
