<%- include("partials/header.ejs") %>

<main>
    <div class="content-container">
        <h2>Marcação de Consulta</h2>
        <p>Bem-vindo(a), <strong><%= usuario %></strong>!</p>
        <a href="gerenciar-conta" class="manage-account-link">Gerenciar Conta</a>
    </div>
</main>

<%- include("partials/footer.ejs") %>
