<%- include("partials/header.ejs") %>

<main>
    <div class="who-we-are-container">
        <section class="introduction">
            <h2>Quem Somos</h2>
            <p>Somos uma organização dedicada à saúde pública, comprometida em fornecer cuidados de saúde de alta qualidade e promover o bem-estar da comunidade.</p>
        </section>

        <section class="mission">
            <h2>Missão</h2>
            <p>Nossa missão é melhorar a saúde e a qualidade de vida das pessoas, proporcionando acesso a serviços de saúde essenciais e programas de prevenção de doenças.</p>
        </section>

        <section class="vision">
            <h2>Visão</h2>
            <p>Ser referência em saúde pública, reconhecida pela excelência no atendimento, inovação e impacto positivo na vida das pessoas.</p>
        </section>

        <section class="values">
            <h2>Valores</h2>
            <ul>
                <li>Compromisso com a Saúde</li>
                <li>Ética e Transparência</li>
                <li>Respeito e Dignidade</li>
                <li>Inovação e Melhoria Contínua</li>
                <li>Colaboração e Parceria</li>
            </ul>
        </section>
    </div>
</main>

<%- include("partials/footer.ejs") %>
